---
name: Checks

on:  [push]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Test
        run: docker compose run --rm app sh -c "python manage.py wait_for_db && pytest ."
      - name: Lint
        run: docker compose run --rm app sh -c "flake8"

